---
import { client } from '../lib/microcms';

const data = await client.get({
  endpoint: 'blogs',
});
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>ブログ一覧</title>
  </head>
  <body>
    <h1>ブログ一覧</h1>
    <ul>
      {data.contents.map((post) => (
        <li>
  			<a href={`/blog/${post.slug}`}>{post.title}</a>
		</li>
      ))}
    </ul>
  </body>
</html>